html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1056px;
  margin: 0 auto;
  padding: 0 16px;
}

.container-narrow {
  width: 790px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 6px 28px;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

/*------------------------------------------------------------------------------
 * HEADER
 ------------------------------------------------------------------------------*/

.header {
  background-color: #1f2937;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.nav {
  list-style-position: inside;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  gap: 24px;
}

.nav-link {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}

.hero {
  display: flex;
  gap: 32px;
  height: 448px;
}

.hero-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  margin: 0 0 16px;
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero-text {
  margin: 0 0 16px;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 300;
}

.hero-button {
  align-self: flex-start;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 224px;
  background-color: #6d747d;
  color: #e5e7eb;
}

/*------------------------------------------------------------------------------
 * INFORMATION
 ------------------------------------------------------------------------------*/

.info {
  color: #1f2937;
}

.info-title {
  margin: 0 0 46px;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.info-items {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.info-item {
  width: 150px;
  text-align: center;
}

.info-item-image {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 16px;
  margin-bottom: 16px;
}

.info-item-text {
  margin: 0;
}

/*------------------------------------------------------------------------------
 * BLOCKQUOTE
 ------------------------------------------------------------------------------*/

.blockquote {
  background-color: #e5e7eb;
}

.quote {
  margin: 0 auto;
  color: #1f2937;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-footer,
.quote-footer cite {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: end;
}

/*------------------------------------------------------------------------------
 * CALL TO ACTION
 ------------------------------------------------------------------------------*/

.cta {
  border-radius: 8px;
  background-color: #3882f6;
  color: #f9faf8;
}

.cta-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 48px 0;
}

.cta-column {
}

.cta-column-right {
}

.cta-title,
.cta-text {
  margin-top: 0;
  margin-bottom: 0;
}

.cta-title {
}

.cta-text {
  color: #e5e7eb;
}

.cta-button {
  border-color: inherit;
}

/*------------------------------------------------------------------------------
 * FOOTER
 ------------------------------------------------------------------------------*/

.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #1f2937;
}

.footer-copyright {
  margin-top: 0;
  margin-bottom: 0;
  color: #e5e7eb;
  text-align: center;
}
